.div_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    outline: none;
    color: #1e1e1e;
    background-color: #039054;
    padding: 4px 5px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.2em;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(143, 142, 142, 0.15);
    transition: all ease 0.3s;
}

.btn:hover{
    background-color: #039053a8;
    transform: scale(1.05);
}